*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.2rem;
}

nav ul{
    list-style-type: none;
    padding-right: 100px;
}

.nav_logo{
    float: left;
    width: 20%;
    padding: 20px;
    text-align: center;
    color: #ffff;
    font-size: 1.25rem;
}

.nav_menu{
    float: right;
    width: 80%;
    text-align: right;
    padding: 20px;
    color: #999387;
}

nav ul li{
    padding-left: 20px;
    clear: both;
    display: block;
}

nav{
    background-color: #212529;
}

.section_all{
    margin-left: 200px;
    width: 80%;
    text-align: left;
    padding: 9rem;
}

.section_all h1{
    margin-bottom: 20px;
}

#section_1{
    text-align: center;
    background-color: #277DFD;
    padding: 100px 0;
    color: white;
}

#section_1 a{
    color: black;
    padding:0.5rem 1rem ;
    background-color: white;
    font-size: 1.4rem;
    border-radius: 0.3rem;
}

#section_1 h1{
    margin-bottom: 20px;
}

#section_1 p{
    margin-bottom: 30px;
}

#section_2 p{
    margin-bottom: 20px;
}

#section_3{
    background-color: #F8F9FA;
}

footer{
    padding: 3rem 0 3rem 0;
    background-color: #212529;
    color: white;
    text-align: center;
}

